# The Site Configuration

# Import the theme
theme: jekyll-theme-chirpy

# Language setting
lang: en

# Timezone setting (Berlin)
timezone: Europe/Berlin

# SEO Settings
title: Dr. Lu Hao
tagline: Condensed-matter physicist
description: >-
  Research focus: VO₂ and correlated oxides, thin films, metal–insulator transitions, structure–property relations.

# Website URL
url: "https://LuHao95CN.github.io"

github:
  username: LuHao95CN

social:
  name: Lu Hao
  email: hao.lu@uni-geissen.de, hao.lu.1995cn@gmail.com # Please change to your real email
  links:
    - https://github.com/LuHao95CN

# --------------------------
# Functional Settings

cdn: "" 

# Avatar path
avatar: "/assets/assets/LuHao.jpg.jpg"

toc: true

paginate: 10

baseurl: ""

# Plugins (Crucial for fixing build errors)
plugins:
  - jekyll-paginate
  - jekyll-archives
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-include-cache

# ------------ Options below are recommended to keep as default ------------------

kramdown:
  footnote_backlink: "&#8617;&#xfe0e;"
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: highlight
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      toc: true
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - purgecss.js
  - "*.config.js"
  - "package*.json"
  - node_modules
  - vendor

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/
