---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

.profile-wrapper img {
  border-radius: 0 !important;
  object-fit: contain;
}
